
<div id="Dashboard" ng-controller="DashboardsCtrl">

<script type="text/javascript">
    var el = document.querySelector("#my-range-picker");
    el.addEventListener("range-changed", function(e) {
    		var scope = angular.element(document.getElementById("Dashboard")).scope();
    		var from = +new Date(e.detail.value.from);
    		var to = +new Date(e.detail.value.to);
       	scope.$apply(function() {
       		scope.update(from, to);
       	});
       	var table = document.querySelector("#the-chart");
   		table.refreshAllSeries();

    });
</script>

   <px-card>
      <h1 align="center" size=20>
         <br><br>
         CSUF's Solar Panel Application!
      </h1>
   </px-card>
   <px-card class="background">
      <br>
      <span class="ecomagination">Pick a time Range!!</span>
      <br><br>
      <style type="text/css">
         .background {
         background-color: rgb(225, 226, 229);
         }
         .ecomagination{
         font-size: 30px;
         font-family: "GE Inspira";
         font-style: bold;
         color: rgb(13, 100, 171);
         }
         div.img_holder img {
         float: center;
         position: relative;
         margin-top: -10%;
         margin-left: 10px;
         }
         div.imgs img{
         float: center;
         position: relative;
         }
         .Group_1 {
         position: relative;
         margin: 10px;
         display: inline-block;
         z-index: 50;
         }
         .Caption {
         font-size: 18px;
         font-family: "GE Inspira";
         color: rgb(55, 44, 58);
         font-style: italic;
         line-height: 1.2;
         text-align: center;
         position: relative;
         z-index: 49;
         }
         .Numerical_Value {
         font-size: 30px;
         font-family: "GE Inspira";
         color: rgb(0, 89, 188);
         line-height: 2.033;
         text-align: left;
         position: relative;
         float:right;
         margin-right: 15px;
         z-index: 48;
         }
         .Green_Label {
         font-size: 16px;
         color: rgb(103, 171, 8);
         font-weight: bold;
         line-height: 3.625;
         text-align: left;
         position: relative;
         float: right;
         margin-right: -23%;
         margin-top: 10px;
         z-index: 47;
         }
         .Rounded_Rectangle {
         border-width: 1px;
         border-color: rgb(229, 229, 229);
         border-style: solid;
         border-radius: 6px;
         background-image: -moz-linear-gradient( 90deg, rgb(243,255,227) 0%, rgb(255,255,255) 100%);
         background-image: -webkit-linear-gradient( 90deg, rgb(243,255,227) 0%, rgb(255,255,255) 100%);
         background-image: -ms-linear-gradient( 90deg, rgb(243,255,227) 0%, rgb(255,255,255) 100%);
         box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.09);
         position: relative;
         width: 374px;
         height: 219px;
         z-index: 43;
         float: left;
         }
      </style>
      <center>
      <px-rangepicker id="my-range-picker"
					  range='{
      "from": "2016-02-22T22:13:36+00:00",
      "to": "2016-03-02T22:13:36+00:00"
    	}'>
      
    </px-rangepicker>
      <div><h3>Solar</h3>
      Average: {{solarAverage}}kWh	Total Consumption: {{solarTotal}}kWh Total Cost: ${{solarCost}}
      </div>
      <div><h3>Trigen</h3>
      Average: {{trigenAverage}}kWh	Total Consumption: {{trigenTotal}}kWh Total Cost: ${{trigenCost}}
      </div>
      <div><h3>SCE</h3>
      Average: {{sceAverage}}kWh	Total Consumption: {{sceTotal}}kWh Total Cost: ${{sceCost}}
      </div>
	
		
   </px-card>
      <px-card>
      <br>
      <px-chart id="the-chart">
         <px-chart-series-line id="Solar Output" data={{solarData}}>
         </px-chart-series-line>
         <px-chart-series-line id="Trigen Output" data={{trigenData}}>
         </px-chart-series-line>
         <px-chart-series-line id="SCE Output" data={{sceData}}>
         </px-chart-series-line>
      </px-chart>
   </px-card>
</div>