<div id="Dashboard" ng-controller="DashboardsCtrl">

<script type="text/javascript">
    var el = document.querySelector("#my-range-picker");
    el.addEventListener("range-changed", function(e) {
    		var scope = angular.element(document.getElementById("Dashboard")).scope();
    		var from = +new Date(e.detail.value.from);
    		var to = +new Date(e.detail.value.to);
       	scope.$apply(function() {
       		scope.update(from, to);
       	});
       	var table = document.querySelector("#the-chart");
   		table.refreshAllSeries();

    });
</script>

<style type="text/css">
	h1 {
		font-weight: normal;
	}
	.padding {
		padding-top: 90px;
	}
	 .background {
	 background-color: rgb(225, 226, 229);
	 }
	 .ecomagination{
	 font-size: 30px;
	 font-family: "GE Inspira";
	 font-style: bold;
	 color: rgb(13, 100, 171);
	 }
</style>	
	
   <px-card>
	   <div class="padding"></div>
      <h1 style="text-align: center;">Power Consumption in Real Time</h1>
   </px-card>
	
   <px-card class="background">
      <br>
      <h1>Select a time range: </h1>
	  <px-rangepicker id="my-range-picker"
					  range='{
		  "from": "2016-02-22T22:13:36+00:00",
		  "to": "2016-03-02T22:13:36+00:00"
			}'>
      </px-rangepicker>	
		
   </px-card>

<px-card>
      <br>
      <px-chart id="the-chart">
     <!--<px-rangepicker id="my-range-picker" style="z-index: 100; float: left;">
    </px-rangepicker>-->
         <px-chart-series-line id="Solar Output" data={{solarData}}>
         </px-chart-series-line>
         <px-chart-series-line id="Trigen Output" data={{trigenData}}>
         </px-chart-series-line>
         <px-chart-series-line id="SCE Output" data={{sceData}}>
         </px-chart-series-line>
      </px-chart>
      <br>
   </px-card>
   

<px-card class="background">

<style type="text/css">
	table {
		width: 100%;
		text-align: left;
	}
</style>


<h1 align="center">Summary over time range</h1>

<table class="table table-striped">
<thead>
<tr>
<th></th>
<th>Solar</th>
<th>Trigen</th>
<th>SCE</th>
<th>Totals</th>
</tr>
</thead>
<tr>
<td>Total Consumption</td><td>{{solarTotal | number : 2}}</td><td>{{trigenTotal | number : 2}}</td><td>{{sceTotal | number : 2}}</td><td>{{allTotal | number : 2}}</td>
</tr>
<tr>
<td>Average Consumption</td><td>{{solarAverage | number : 2}}</td><td>{{trigenAverage | number : 2}}</td><td>{{sceAverage | number : 2}}</td><td>{{allAverage | number : 2}}</td>
</tr>
<tr>
<td>Total Cost</td><td>{{solarCost | currency}}</td><td>{{trigenCost | currency}}</td><td>{{sceCost | currency}}</td><td>{{allCost | currency}}</td>
</tr>
</table>
	
		
   </px-card>
</div>