<!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->

<!-- Optional theme -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">-->

<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">

	/*window.addEventListener("load", function(){
				 var thescope = angular.element(document.getElementById("Dashboard")).scope();
		  thescope.$apply(function() {
       		thescope.update(1433142000, 1441090800);
       	});
	});*/


	Highcharts.setOptions({
	
		global: {
			useUTC: true,
			timezoneOffset: 8 * 60
		}
	});
    var el = document.querySelector("#my-range-picker");

    el.addEventListener("range-changed", function(e) {
    		var scope = angular.element(document.getElementById("Dashboard")).scope();
        console.log(scope);
    		var from = +new Date(e.detail.value.from);
    		var to = +new Date(e.detail.value.to);
    		console.log(from, to);
       	scope.$apply(function() {
       		scope.update(from, to);
       	});
       	
       	// Refreash the table
			var table = document.querySelector("#the-chart");
   		table.refreshAllSeries();

    });
</script>

<div id="Dashboard" ng-controller="DashboardsCtrl">


<style type="text/css">
	h1 {
		font-weight: normal;
	}
	.padding {
		padding-top: 90px;
	}
	 .background {
	 background-color: rgb(225, 226, 229);
	 }
	 .ecomagination{
	 font-size: 30px;
	 font-family: "GE Inspira";
	 font-style: bold;
	 color: rgb(13, 100, 171);
	 }
     .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
   }
   .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
   }
   .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
   }
   th {
    text-align: left;
   }
</style>

   
<div class="padding"></div>
	
   <px-card class="background">
      <br>
      <h1>Select a time range: </h1>
	  <px-rangepicker id="my-range-picker"
					  range='{
		  "from": "2015-03-30T00:00:00-08:00",
		  "to": "2016-03-29T00:00:00-08:00"
			}'>
      </px-rangepicker>	
		
   </px-card>

<px-card>
      <br>
      <px-chart id="the-chart" 
		legend='{
     "enabled": true,
     "useHTML": true,
     "layout": "vertical",
     "verticalAlign": "top",
     "y": -20,
     "align": "left",
     "floating": true,
     "itemMarginTop": 2,
     "itemMarginBottom": 2
     }'    
     navigator-disabled
      >
     <!--<px-rangepicker id="my-range-picker" style="z-index: 100; float: left;">
    </px-rangepicker>-->
         <px-chart-series-line units="kWh" id="Solar Output" data={{solarData}}>
         </px-chart-series-line>
         <px-chart-series-line id="Trigen Output" data={{trigenData}}>
         </px-chart-series-line>
         <px-chart-series-line id="SCE Import" data={{sceData}}>
         </px-chart-series-line>
      </px-chart>
   </px-card>
   

<px-card class="background">

<style type="text/css">
	table {
		width: 100%;
		text-align: left;
	}
</style>

<br>
<h1 style="text-align: center; font-size: 20px">Summary over time range</h1>

<table class="table table-hover">
<thead>
<tr>
<th></th>
<th>Solar</th>
<th>Trigen</th>
<th>SCE</th>
<th>Totals</th>
</tr>
</thead>
<tr>
<td>Total Output (kWh)</td><td>{{solarTotal | number : 2}}</td><td>{{trigenTotal | number : 2}}</td><td>{{sceTotal | number : 2}}</td><td>{{allTotal | number : 2}}</td>
</tr>
<tr>
<td>Average Output (kWh)</td><td>{{solarAverage | number : 2}}</td><td>{{trigenAverage | number : 2}}</td><td>{{sceAverage | number : 2}}</td><td>{{allAverage | number : 2}}</td>
</tr>
<tr>
<td>Percent (%)</td><td>{{solarPercent | number : 2}}</td><td>{{trigenPercent | number : 2}}</td><td>{{scePercent | number : 2}}</td>
</tr>
<tr>
<td>Total Cost</td><td>{{solarCost | currency}}</td><td>{{trigenCost | currency}}</td><td>{{sceCost | currency}}</td><td>{{allCost | currency}}</td>
</tr>
</table>
<p style="font-size: 10px">Based on Trigen plant $ 0.08 per kWh and SCE blended rate of $ 0.135 per kWh.</p>
	
		
   </px-card>
</div>
