    <script>
      var tsData=[];
      var started = false;
      document.getElementById("realtimeBtn").addEventListener("click", function(){
           tsData = angular.element(document.getElementById("realtime")).scope().tsData;
        for (var i = 0; i < 192; i++) {
            scedata.push(getsceData(i+diff));
            trigendata.push(gettrigenData(i+diff));
            solardata.push(getsolarData(i+diff));
            stage = diff +i;
        }
        started = true;
        console.log(tsData[0]);
      });
     
    function getsceData(i) {
      now = new Date(+now + oneDay);
      value = tsData[i]['SCE'];
      return {
          Timestamp: now.toString(),
          value: [
           [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('-'),
            value
          ]
        }
    }
    function gettrigenData(i) {
      now = new Date(+now + oneDay);
      value = tsData[i]['Trigen'] * -1;
      return {
          Timestamp: now.toString(),
          value: [
           [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('-'),
            value
          ]
        }
    }
    function getsolarData(i) {
      now = new Date(+now + oneDay);
      value = tsData[i]['Solar'];
      return {
          Timestamp: now.toString(),
          value: [
           [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('-'),
            value
          ]
        }
    }
    function getdefaultData() {
      now = new Date(+now + oneDay);
      value = 0;
      return {
          Timestamp: now.toString(),
          value: [
           [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('-'),
            value
          ]
        }
    }
    
    var app = {};
    var scedata = [];
    var trigendata = [];
    var solardata = [];
    var now = +new Date(2014, 1, 0);
    var oneyear = 365*24 * 3600 * 1000
    var epochsec =Math.floor((Date.now()-oneyear) /1000);;
    var starttime = 1396138500;
    var diff = Math.floor((epochsec-starttime) /900);
    var stage = diff;
    var oneDay = 24 * 3600 * 1000;
    var fifteenmin = 15* 60 * 1000;
    var value =0;
    for (var i = 0; i < 192; i++) {
      scedata.push(getdefaultData());
      trigendata.push(getdefaultData());
      solardata.push(getdefaultData());
    }
    </script>

<div id="realtime" ng-controller="DashboardsCtrl">
  <px-card style="padding-top: 100px;">  
    <button id = "realtimeBtn"> start </button> <p>5s = 15min</p>
    <section>
      <my-app-realtime></my-app-realtime>
        <dom-module id="my-app-realtime">
          <template>
            <echarts-component width="1200px" height="700px" options={{options}}></echarts-component>
          </template>
        </dom-module>
    </section>

    <!--<p>{{tsData}}</p>-->
    <!-- test new real time chart-->

    <script>


var started = false;    
var donechart1;
if (!donechart1){
    Polymer({
        is: "my-app-realtime",
        ready() {
      
          this.options = {
              title: {
                  text: 'Real-time Data Monitor'
              },
              grid: {
                  left: '3%',
                  right: '4%',
                  bottom: '3%',
                  containLabel: true
              },
              tooltip: {
                  trigger: 'axis',
                  formatter: function (params) {
                      console.log(params);
                      
                      var date = new Date(params[0].value[0]);
                      return ' \nSCE: ' + params[0].value[1] + '\nTrigen:' + params[1].value[1]+ '\nSolar:' + params[2].value[1];
                  },
                  axisPointer: {
                      animation: false
                  }
              },
              xAxis: {
                  type: 'time',
                  axisLabel: {
                    textStyle:{
                        color: '#FFFFFF'
                    }
                  }
                  
              },
              yAxis: {
                  type: 'value',
                  boundaryGap: [0, '100%'],
                  
              },
              series: [{
                  name: 'SCE',
                  lineStyle:{normal:{color: '#1A5276'}},
                  type: 'line',
                  stack: 'Output',
                  areaStyle: {normal: {color: '#2471A3'}},
                  showSymbol: false,
                  hoverAnimation: false,
                  data: scedata
              },
              {
                  name: 'Trigen',
                  lineStyle:{normal:{color: '#27AE60'}},
                  type: 'line',
                  stack: 'Output',
                  areaStyle: {normal: {color: '#58D68D'}},
                  showSymbol: false,
                  hoverAnimation: false,
                  data: trigendata
              },
              {
                  name: 'Solar',
                  lineStyle:{normal:{color: '#F5B041'}},
                  type: 'line',
                  stack: 'Output',
                  areaStyle: {normal: {color: '#F8C471'}},
                  showSymbol: false,
                  hoverAnimation: false,
                  data: solardata
              }
              ]
          }
          var mychart = this;
          app.timeTicket = setInterval(function () {
            if (started){
              for (var i = 0; i < 1; i++) {
                  stage = stage +1;
                  scedata.shift();
                  scedata.push(getsceData(stage));
                  trigendata.shift();
                  trigendata.push(gettrigenData(stage));
                  solardata.shift();
                  solardata.push(getsolarData(stage));
              }
              mychart.options ={
                  series: [{
                      data: scedata
                  },
                  {
                      data: trigendata
                  },
                  {
                      data: solardata
                  }]
              }
            };
          }, 5000);;
        }
      })
donechart1 = true;
}
    </script>
  </px-card>
</div>
