<style type="text/css">
#chart {
    margin: auto;
}
#navbar {
	position: relative;
}
#new-menu {
    height: 4rem;
    text-align: center;
    width: 100%;
    margin: 0 -1.3333333333rem -2rem;
}
.fixed-header {
	top: 0;
	background-color: #293c55;
	position: fixed;
}
.pnew-menu {
	line-height: 4;
	text-decoration: none;
	padding: 1.444em;
}
.new-menu-right {
	float: right;
}
span.pnew-menu:hover {
	background-color: #081F30;
}

a.pnew-link:link {
    text-decoration: none;
}

a.pnew-link:visited {
    text-decoration: none;
}

a.pnew-link:hover {
    text-decoration: none;
}

a.pnew-link:active {
    text-decoration: none;
}
.padding {
    padding-top: 70px;
}
h1 {
    font-weight: normal;
}
</style>

<script>
	var $window = $(window);
	var nav = $('#new-nav');
	$window.scroll(function(){
    if ($window.scrollTop() >= 400) {
       nav.addClass('fixed-header');
    }
    else {
       nav.removeClass('fixed-header');
    }
    });
</script>

    <script>
$(document).ready(function() {
    function scrollToAnchor(aid){
        var aTag = $("a[name='"+ aid +"']");
        $('html,body').animate({scrollTop: aTag.offset().top},'slow');
    }
    $("a").click(function() {
        var href = $(this).attr('href').replace('#', '')
        scrollToAnchor(href);
    });         
});
    </script>

<px-card>
<body>
	<nav id="new-nav" style="z-index: 2;">
		<div class="fixed-header" id="new-menu">
			<div class="new-menu-right">
				<a href="#2014" class="pnew-link">
					<span class="pnew-menu" style="color: white;">2014</span>
				</a>
				<a href="#2015" class="pnew-link">
					<span class="pnew-menu" style="color: white;">2015</span>
				</a>
			</div>
		</div>
	</nav>
    <br>
<h1 align="center">Monthly Ouput</h1>
<px-data-table striped filterable enable-column-resize table-data="{{avgData}}">
	<px-data-table-column name="month" filterable></px-data-table-column>
	<px-data-table-column name="year" filterable></px-data-table-column>
	<px-data-table-column name="solar"></px-data-table-column>
    <px-data-table-column name="sce"></px-data-table-column>
    <px-data-table-column name="trigen"></px-data-table-column>
</px-data-table>

<div class="padding"></div>
<hr>

		

<script>
var donechart;
if (!donechart){
  Polymer({
    is: "my-app-bar1",
    ready() {
      this.options = {
        tooltip : {
        trigger: 'axis',
        axisPointer : {            // axis
            type : 'shadow'        // options：'line' | 'shadow'
        }
    },
    legend: {
        data: ['Solar','Southern California Edison', 'Trigen']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: {
        type: 'category',
        data: ['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']
    },
    yAxis:  {
		name: 'Output(kWh)',
        type: 'value'
    },
    series: [
        {
            name: 'Solar',
            type: 'bar',
            stack: 'Summary',
            label: {
                normal: {
                    show: true,
                    position: 'insideRight'
                }
            },
            data: [0, 0, 370.92, 5645.61, 6026.77, 6998.67, 5493.32, 6414.88, 5252.43, 4125.13, 3744.51, 2817.93]
        },
        {
            name: 'Southern California Edison',
            type: 'bar',
            stack: 'Summary',
            label: {
                normal: {
                    show: true,
                    position: 'insideRight'
                }
            },
            data: [0,0,328.54,21437.18,27155.91,13345.64,27308.4,25132.23,50441.02,32248.2,21231.59,61637.0]
        },
        {
            name: 'Trigen',
            type: 'bar',
            stack: 'Summary',
            label: {
                normal: {
                    show: true,
                    position: 'insideRight'
                }
            },
            data: [0, 0, 5327.4, 95442.71, 87850.37, 90902.71, 94846.73, 94419.25, 86307.96, 94690.22, 85629.58, 40113.08]
        }
        ]
      }
    }
  })
  Polymer({
    is: "my-app-bar2",
    ready() {
      this.options = {
        tooltip : {
        trigger: 'axis',
        axisPointer : {            // axis
            type : 'shadow'        // options：'line' | 'shadow'
        }
    },
    legend: {
        data: ['Solar','Southern California Edison', 'Trigen']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: {
        type: 'category',
        data: ['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']
    },
    yAxis:  {
		name: 'Output(kWh)',
        type: 'value'
    },
    series: [
        {
            name: 'Solar',
            type: 'bar',
            stack: 'Summary',
            label: {
                normal: {
                    show: true,
                    position: 'insideRight'
                }
            },
            data: [3387.98, 4407.39, 5277.63, 5557.56, 4912.06, 5987.23, 5234.11, 4233.04, 3658.31, 2973.88, 2753.33, 2305.83]
        },
        {
            name: 'Southern California Edison',
            type: 'bar',
            stack: 'Summary',
            label: {
                normal: {
                    show: true,
                    position: 'insideRight'
                }
            },
            data: [21320.07, 27393.65, 23647.83, 25369.0, 20919.26, 23334.32, 33182.63, 44757.61, 58147.12, 48235.6, 27702.97, 12983.32]
        },
        {
            name: 'Trigen',
            type: 'bar',
            stack: 'Summary',
            label: {
                normal: {
                    show: true,
                    position: 'insideRight'
                }
            },
            data: [80232.09, 87488.99, 96233.48, 90766.91, 85113.2, 90787.51, 88218.33, 90832.3, 94688.19, 94752.49, 82177.07, 86104.67]
        }
        ]
      }
    }
  })
  donechart = true;
}

</script>
<section>
<my-app-bar1></my-app-bar1>
<my-app-bar2></my-app-bar2>
</div>
<dom-module id="my-app-bar1">
<template>
    <a name="2014"></a>
    <div class="padding"></div>
    <h1 align="center">2014 Output</h1>
  <echarts-component width="1000px" height="700px" options={{options}}></echarts-component>
</template>
</dom-module>
        
<dom-module id="my-app-bar2">
<template>
    <a name="2015"></a>
    <div class="padding"></div>
    <h1 align="center">2015 Output</h1>
  <echarts-component width="1000px" height="700px" options={{options}}></echarts-component>
</template>
</dom-module>
<!--<px-chart>
<px-chart-series-line data={{solarData}} id="SolarData Test"></px-chart-series-line>
</px-chart>-->

</body>

</px-card>

</div>
