<!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->

<!-- Optional theme -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">-->

<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->



<div id="trigenboard" ng-controller="TrigenCtrl">
<style type="text/css">
	h1 {
		font-weight: normal;
	}
	body {
    	font-family: "GE Inspira Sans", sans-serif;
	}
	a.px-app-nav:hover {
	   text-decoration: none;
	}
    	font-size: 0.9375em;
	}
  a.px-app-nav:hover {
    text-decoration: none;
  }
  a.px-app-nav:visited {
    text-decoration: none;
  }
  a.px-app-nav:active {
    text-decoration: none;
  }
	.padding {
		padding-top: 90px;
	}
	 .background {
	 background-color: rgb(225, 226, 229);
	 }
	 .ecomagination{
	 font-size: 30px;
	 font-family: "GE Inspira";
	 font-style: bold;
	 color: rgb(13, 100, 171);
	 }
	 .table-striped>tbody>tr:nth-of-type(odd) {
	 	background-color: #f9f9f9;
	 }
	 .table>thead>tr>th {
	 	vertical-align: bottom;
	 	border-bottom: 2px solid #ddd;
	 }
	 .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	 	padding: 8px;
	 	line-height: 1.42857143;
	 }
	 th {
	 	text-align: left;
	 }
</style>
<div class="padding"></div>
   <px-card class="background">

   <script type="text/javascript">
		var formSubmit = function() {
		    var scope = angular.element(document.getElementById("trigenboard")).scope();
		    var month = document.querySelector("#monthData").value;
		    console.log(month);
		    scope.$apply(function() {
		    	scope.update(month);
		    });
		};
	</script>
   	<form><br>
   		<label style="font-size=25px"><h1>Select the month of maintenance:</h1></label>
			<select id="monthData">
  				<option value="January">January</option>
  				<option value="February">February</option>
  				<option value="March">March</option>
  				<option value="April" >April</option>
  				<option value="May" >May</option>
  				<option value="June" >June</option>
  				<option value="July" >July</option>
  				<option value="August" >August</option>
  				<option value="September" >September</option>
  				<option value="October" >October</option>
  				<option value="November" >November</option>
  				<option value="December" >December</option>
			</select>
			<input type="submit" onclick="formSubmit()"></input>  	
   	</form><br> <hr>
   	<h1 style="text-align: center; font-size: 20px">{{month}}</h1>
   	<table class="table table-striped" style="width: 100%">
	<thead>
		<th>Days</th>
		<th>Optimal Times</th>

		</thead>
		<tr><td>Monday</td> <td> <div ng-repeat="mon in monday">{{mon}}</div></td>	 </tr>
		<tr><td>Tuesday</td> <td> <div ng-repeat="tues in tuesday">{{tues}}</div></td> </tr>
		<tr><td>Wednesday</td> <td> <div ng-repeat="wed in wednesday">{{wed}}</div></td> </tr> 
		<tr><td>Thursday</td> <td> <div ng-repeat="thur in thursday">{{thur}}</div></td> </tr>
		<tr><td>Friday</td> <td> <div ng-repeat="fri in friday">{{fri}}</div></td> </tr>
		<tr><td>Saturday</td> <td> <div ng-repeat="sat in saturday">{{sat}}</div></td> </tr>
		<tr><td>Sunday</td> <td> <div ng-repeat="sun in sunday">{{sun}}</div></td> </tr>
   	</table>
   	
   	<p style="font-size: 12px">*Based on previous data and displays optimal hours to perform maintenance on the Trigeneration plant
   	</p>
   
   </px-card>

<px-card>
	<a name="trigen"></a>
	<br><h1 style="text-align: center; font-size: 20px">Trigeneration Plant Downtime Impact</h1>
	<table class="table table-striped" style="width: 100%">
<thead>
<th>StartTime</th>
<th>EndTime</th>
<th>Total Increase in SCE</th>
<th>Total Cost</th>
</thead>	

	<tr ng-repeat="down in downTime">
	<td>{{down.startDate  * 1000 | date : 'short' : 'UTC'}}</td>	
	<td>{{down.endDate * 1000 | date : 'short' : 'UTC'}}</td>
	<td>{{down.sceTotal | number : 2}}	kWh</td>
	<td>{{down.sceTotal * price | currency}}</td>
	</tr>
	</table>
	<p style="font-size: 12px">Total increase in SCE is calculated by using the total average SCE comsumption.</p>
	<p style="font-size: 12px">This is an estimate!</p>
</px-card>

</div>