#
# 
# Copyright (c) 2013 General Electric Company. All rights reserved.
#
# The copyright to the computer software herein is the property of
# General Electric Company. The software may be used and/or copied only
# with the written permission of General Electric Company or in accordance
# with the terms and conditions stipulated in the agreement/contract
# under which the software has been supplied.
#


#
# Predix Machine - 15.3.0
#
# Configuration properties for the predix machine mqtt client 
#
# Service_PID = com.ge.dspmicro.qe.mqttclient
#


# Usage: 
# 
#       Properties set in this file may use the full property
#       name. For example:
#                  
#             <service_pid>.<property_key>=<property_value>
#      


# Note: 
#
#       Properties in configuration files are subject to a delay
#       as they rely on the config-admin and fileinstall bundles.
#


# [Required] A topic is a UTF-8 string, which is used by the broker to filter messages for each connected client.
com.ge.dspmicro.sample.mqttclient.topic=MQTT Examples

# [Required] The broker is primarily responsible for receiving all messages, filtering them, decide who is interested 
# in it and then sending the message to all subscribed clients. Example, tcp://hostname:port
com.ge.dspmicro.sample.mqttclient.broker=tcp://3.39.48.98:1883

# [Required] An agreement between sender and receiver of a message regarding the guarantees of delivering a message. Valid value: 0, 1, 2.
com.ge.dspmicro.sample.mqttclient.qos=2

# [Required] The client identifier (short ClientId) is an identifier of each MQTT client connecting to a MQTT broker.
com.ge.dspmicro.sample.mqttclient.clientId=MqttClientSample

# [Optional] User name for authentication if the broker requires.
com.ge.dspmicro.sample.mqttclient.userName=dspuser

# [Optional] Password for authentication if the broker requires.
com.ge.dspmicro.sample.mqttclient.password=welcome
